 .banner-area .fullscreen {
    height: 920px !important;
  }
  .banner-area {
  background: url(../img/header-bg.jpg) center;
  background-size: cover;
}
  
.banner-content {
  margin-top: -250px;
}

.banner-content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-content h1 span {
  font-weight: 700;
}

.primary-btn {
  background-color: #b68834;
  line-height: 36px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover {
  color: #fff;
}

.primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.white span {
  color: #fff;
}

.primary-btn.white:hover {
  background: #fff;
  color: #b68834;
}

.primary-btn.white:hover span {
  color: #b68834;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

