<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<title>Cafe</title>
<meta http-equiv="
	Content-Type" content="text/html; charset=UTF-8" />



<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />


</head>
<body>

	<!-- start banner Area -->
	<section class="banner-area" id="home">
		<div class="container">
			<div
				class="row fullscreen d-flex align-items-center justify-content-start">
				<div class="banner-content col-lg-7">
					<h6 class="text-white text-uppercase">Now you can feel the
						Energy</h6>
					<h1>
						Start your day with <br /> a black Coffee
					</h1>

					<div sec:authorize="isAuthenticated()">
						<div sec:authorize="hasRole('ADMIN')">
							<a th:href="@{/normal/doOrder}"
								class="primary-btn text-uppercase">Products</a><a
								th:href="@{/normal/doOrder}" class="primary-btn text-uppercase">Persons</a>
							<a th:href="@{/normal/profile}"
								class="primary-btn text-uppercase">Orders</a>
						</div>
						<div sec:authorize="hasRole('USER')">

							<a th:href="@{/normal/doOrder}"
								class="primary-btn text-uppercase">Buy Now</a> <a
								th:href="@{/normal/profile}" class="primary-btn text-uppercase">Profile</a>

						</div>
						<a th:href="@{/logout}" class="primary-btn text-uppercase">
							logout</a>
					</div>
					<div sec:authorize="isAnonymous()">
						<a th:href="@{/showMyLoginPage}" class="primary-btn text-uppercase">
							login</a>
					</div>



				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<h1>Product list</h1>

	<div class="row">
		<div class="col-lg-4" th:each="prod : ${prods}">
			<div class="single-menu">
				<div class="title-div justify-content-between d-flex">
					<h4 th:text="${prod.productName}">Cappuccino</h4>
					<p class="price float-right" th:text="${prod.price}">$49</p>
				</div>
				<p th:text="${prod.description}">Usage of the Internet is
					becoming more common due to rapid advance.</p>
			</div>
		</div>
	</div>
</body>
</html>